<div class="about-main">
  <h2>Match-app</h2>
  <p>コロナ渦で球場に足を運べない。。。</p>
  <p>このアプリでは様々なプロ野球ファンと繋がり
    リモート観戦を楽しみましょう
  </p>
  <img class="about-img" src="/photo-1578432014316-48b448d79d57.jpg">
</div>